html { font-size: 100%
}

body{
  margin: 50px 0px; padding: 0px;
  text-align: center;
  background-color: grey
}

p {
	color: #000000;
    font-family: "Merriweather", Georgia, "Merriweather Sans";
    font-size: 1.0rem;
    background-color: white
}

h1 {
	color: #000000;
    font-family: "Merriweather", Georgia, "Merriweather Sans";
    text-align: center;
}

ul{
  color: #000000;
  display: inline;
    font-family: "Merriweather", Georgia, "Merriweather Sans";
    text-align: center;
}

#container{
    width: 95%;
    margin: 0 auto;
}

img{

  border: none;
}

#nav {
	padding: 0;
	list-style-type: none;
  display: flex;
  flex-direction: column;
}

#nav li {
    margin: 0;
		padding: 0;
	  border-bottom: 1px solid #ccc;
		list-style: none;
		padding: 0;
		list-style-type: none;
		text-decoration: none;
  }

#nav a:link, #nav a:visited {
	display: block;
	color: #fff;
	background-color: #62AB90;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 4px;
	font-family: "Merriweather", Georgia, "Merriweather Sans";
}

#nav a:hover, #nav a:active {
	background-color: #3f6f5d;
}

.caption {
		color: black;
		font-family: "Merriweather", Georgia, "Merriweather Sans";
		font-style: italic;
		font-size: 0.8em;
		text-align: right;
}

#footer{
	color: #000000;
	font-family: "Merriweather", Georgia, "Merriweather Sans";
	font-size: 0.8em;
	border-top: 1px solid #000000;
}
@media (min-width: 600px){
  #nav{
    flex-direction: row;
    justify-content: center;
  }
}

.cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas:
        "a a a b"
        "a a a b"
        "c d d d";
    grid-gap: 20px;
    justify-items: end; /*also start, center*/
}

.cards li {
    background-color: #f1b82d;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
@media (min-width: 800px){
  .one {
      grid-area: a;
  }
  .two {
      grid-area: b;
      align-self: stretch;
  }
  .three {
      grid-area: c;
      align-self: flex-end;
  }
  .four {
      grid-area: d;
      justify-self: center;
  }
}
